Repository beerair/beerair-web, pull requests merged in 2022-08, with the labels that each got.

#119 BeerPhotoLabel 컴포넌트 이관
  src/components/beer/BeerPhotoLabel/BeerPhotoLabel.stories.tsx
  src/components/beer/BeerPhotoLabel/BeerPhotoLabel.tsx
  src/components/beer/BeerPhotoLabel/index.ts
  src/constants/dummy.ts
  src/utils/string.ts
Labels: 🍎 components

#122 docs: :memo: update README
  README.md
Labels: 📖 docs, 🍺 awsome

#123 chore: :beers: Badge 컴포넌트를 Chip으로 변경
  src/components/Badge/index.ts
  src/components/commons/Chip/Chip.stories.tsx
  src/components/commons/Chip/Chip.tsx
  src/components/commons/Chip/index.ts
  src/components/record/ReviewListItem/ReviewListItem.tsx
Labels: 🧹 chore

#128 build: :hammer: 스토리북 실행, 빌드 스크립트 수정 (static 파일 경로 명시)
  package.json
Labels: 🖥 dev

#130 feat: ✨ BeerTicket 컴포넌트 이관
  src/components/beer/BeerPhotoLabel/BeerPhotoLabel.tsx
  src/components/beer/BeerTicket/BeerTicket.stories.tsx
  src/components/beer/BeerTicket/BeerTicket.tsx
  src/components/beer/BeerTicket/BeerTicketField.tsx
  src/components/beer/BeerTicket/BeerTicketFlight.tsx
  src/components/beer/BeerTicket/BeerTicketSection.tsx
  src/components/beer/BeerTicket/BeerTicketStamp.tsx
  src/constants/dummy.ts
  src/types/index.ts
  src/types/record.ts
Labels: 🍎 components

#131 feat: :sparkles: MainLayout 컴포넌트 이관
  .storybook/preview.js
  src/components/layouts/MainLayout/MainLayout.tsx
  src/components/layouts/MainLayout/index.ts
  src/pages/_app.tsx
Labels: 🍎 components

#129 feat: 시작하기(onboarding) 페이지 이관
  public/images/onboarding-hero.png
  src/components/layouts/BeginningLayout/BeginningLayout.stories.tsx
  src/components/layouts/BeginningLayout/BeginningLayout.tsx
  src/components/layouts/BeginningLayout/index.ts
  src/containers/OnBoardingContainer/OnBoardingContainer.stories.tsx
  src/containers/OnBoardingContainer/OnBoardingContainer.tsx
  src/containers/OnBoardingContainer/index.tsx
  src/pages/onboarding.tsx
Labels: 🍎 components

#121 feat: :sparkles: NicknameModifyModal 컴포넌트 이관
  src/components/mypage/NicknameModifyModal/NicknameModifyModal.stories.tsx
  src/components/mypage/NicknameModifyModal/NicknameModifyModal.tsx
  src/components/mypage/NicknameModifyModal/index.ts
Labels: 🍎 components

#124 feat: :sparkles: BottomNavigation 컴포넌트 이관
  src/components/BottomNavigation/BottomNavigation.stories.tsx
  src/components/BottomNavigation/BottomNavigation.tsx
  src/components/BottomNavigation/index.ts
Labels: 🍎 components

#135 chore: 🍻 cypress 기본 설정
  .gitignore
  cypress.config.ts
  cypress/e2e/page-routing.cy.ts
  cypress/e2e/search-page.cy.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
  package.json
  src/containers/SearchContainer/SearchInput/SearchInput.tsx
  src/containers/SearchContainer/SearchItem/SearchItem.tsx
  yarn.lock
Labels: 🧹 chore

#139 feat: :sparkles: 맥주 요청 완료 페이지 이관
  src/containers/BeerRequestCompleteContainer/BeerRequestCompleteContainer.stories.tsx
  src/containers/BeerRequestCompleteContainer/BeerRequestCompleteContainer.tsx
  src/containers/BeerRequestCompleteContainer/index.ts
  src/pages/beer/request/complete.tsx
Labels: 🍏 page

#138 feat: :sparkles: BeerRequestLayout 컴포넌트 이관
  src/components/beer-request/BeerRequestLayout/BeerRequestLayout.stories.tsx
  src/components/beer-request/BeerRequestLayout/BeerRequestLayout.tsx
  src/components/beer-request/BeerRequestLayout/index.ts
Labels: 🍎 components

#134 feat: :sparkles: EtcContainer, 개인정보 처리방침, 이용약관 컨테이너 이관
  contents/privacy-policy.md
  contents/terms-of-service.md
  src/containers/EtcContainer/EtcContainer.stories.tsx
  src/containers/EtcContainer/EtcContainer.tsx
  src/containers/EtcContainer/index.ts
  src/containers/PrivacyPolicyContainer/PrivacyPolicyContainer.stories.tsx
  src/containers/PrivacyPolicyContainer/PrivacyPolicyContainer.tsx
  src/containers/PrivacyPolicyContainer/index.ts
  src/containers/TermsOfServiceContainer/TermsOfServiceContainer.stories.tsx
  src/containers/TermsOfServiceContainer/TermsOfServiceContainer.tsx
  src/containers/TermsOfServiceContainer/index.ts
  src/pages/profile/etc.ts
  src/pages/profile/privacy-policy.ts
  src/pages/profile/terms.ts
  src/types/markdown.d.ts
Labels: 🍎 components

#125 feat: ✨ 맥주 리스트 필터 관련 컴포넌트 이관
  src/components/beer/BeerInfoBox/BeerInfoBox.stories.tsx
  src/components/beers/filter/BeerCountryFilterList/BeerCountryFilterItem.tsx
  src/components/beers/filter/BeerCountryFilterList/BeerCountryFilterList.stories.tsx
  src/components/beers/filter/BeerCountryFilterList/BeerCountryFilterList.tsx
  src/components/beers/filter/BeerCountryFilterList/index.ts
  src/components/beers/filter/BeerCountryFilterTab/BeerCountryFilterTab.stories.tsx
  src/components/beers/filter/BeerCountryFilterTab/BeerCountryFilterTab.tsx
  src/components/beers/filter/BeerCountryFilterTab/index.ts
  src/components/beers/filter/BeerListFilterBottomSheet/BeerListFilterBottomSheet.stories.tsx
  src/components/beers/filter/BeerListFilterBottomSheet/BeerListFilterBottomSheet.tsx
  src/components/beers/filter/BeerListFilterBottomSheet/index.ts
  src/components/beers/filter/BeerListFilterChipList/BeerListFilterChip.tsx
  src/components/beers/filter/BeerListFilterChipList/BeerListFilterChipList.stories.tsx
  src/components/beers/filter/BeerListFilterChipList/BeerListFilterChipList.tsx
  src/components/beers/filter/BeerListFilterChipList/index.ts
  src/components/beers/filter/BeerListFilterFooter/BeerListFilterFooter.stories.tsx
  src/components/beers/filter/BeerListFilterFooter/BeerListFilterFooter.tsx
  src/components/beers/filter/BeerListFilterFooter/index.ts
  src/components/beers/filter/BeerTypeFilterList/BeerTypeFilterItem.tsx
  src/components/beers/filter/BeerTypeFilterList/BeerTypeFilterList.stories.tsx
  src/components/beers/filter/BeerTypeFilterList/BeerTypeFilterList.tsx
  src/components/beers/filter/BeerTypeFilterList/index.tsx
  src/components/beers/filter/recoil/atoms/index.ts
  src/components/beers/filter/recoil/atoms/nextBeerListFiler.ts
  src/components/beers/filter/recoil/selectors/index.ts
  src/components/beers/filter/recoil/selectors/selectedBeerCountryIds.ts
  src/components/beers/filter/recoil/selectors/selectedBeerTypeIds.ts
  src/constants/dummy.ts
  src/hooks/queries/beer.ts
  src/hooks/queries/continent.ts
  src/hooks/queries/country.ts
  src/types/beer.ts
  src/types/index.ts
Labels: 🍎 components

#141 feat: ✨ RecordList 컴포넌트 이관
  src/components/record/RecordList/RecordList.stories.tsx
  src/components/record/RecordList/RecordList.tsx
  src/components/record/RecordList/index.ts
Labels: 🍎 components

#145 refactor: :truck: 필터 관련 컴포넌트 이동 (src/components/beers/filter -> src/c…
  src/components/beer/filter/BeerCountryFilterList/BeerCountryFilterItem.tsx
  src/components/beer/filter/BeerCountryFilterList/BeerCountryFilterList.stories.tsx
  src/components/beer/filter/BeerCountryFilterList/BeerCountryFilterList.tsx
  src/components/beer/filter/BeerCountryFilterList/index.ts
  src/components/beer/filter/BeerCountryFilterTab/BeerCountryFilterTab.stories.tsx
  src/components/beer/filter/BeerCountryFilterTab/BeerCountryFilterTab.tsx
  src/components/beer/filter/BeerCountryFilterTab/index.ts
  src/components/beer/filter/BeerListFilterBottomSheet/BeerListFilterBottomSheet.stories.tsx
  src/components/beer/filter/BeerListFilterBottomSheet/BeerListFilterBottomSheet.tsx
  src/components/beer/filter/BeerListFilterBottomSheet/index.ts
  src/components/beer/filter/BeerListFilterChipList/BeerListFilterChip.tsx
  src/components/beer/filter/BeerListFilterChipList/BeerListFilterChipList.stories.tsx
  src/components/beer/filter/BeerListFilterChipList/BeerListFilterChipList.tsx
  src/components/beer/filter/BeerListFilterChipList/index.ts
  src/components/beer/filter/BeerListFilterFooter/BeerListFilterFooter.stories.tsx
  src/components/beer/filter/BeerListFilterFooter/BeerListFilterFooter.tsx
  src/components/beer/filter/BeerListFilterFooter/index.ts
  src/components/beer/filter/BeerTypeFilterList/BeerTypeFilterItem.tsx
  src/components/beer/filter/BeerTypeFilterList/BeerTypeFilterList.stories.tsx
  src/components/beer/filter/BeerTypeFilterList/BeerTypeFilterList.tsx
  src/components/beer/filter/BeerTypeFilterList/index.tsx
  src/components/beer/filter/recoil/atoms/index.ts
  src/components/beer/filter/recoil/atoms/nextBeerListFiler.ts
  src/components/beer/filter/recoil/selectors/index.ts
  src/components/beer/filter/recoil/selectors/selectedBeerCountryIds.ts
  src/components/beer/filter/recoil/selectors/selectedBeerTypeIds.ts
Labels: ♻️ refactor

#143 feat: :sparkles: BeerInfoContainer 이관
  src/components/beer/LikeBeerToggleButton/LikeBeerToggleButton.stories.tsx
  src/components/beer/LikeBeerToggleButton/LikeBeerToggleButton.tsx
  src/components/beer/LikeBeerToggleButton/index.ts
  src/components/commons/Header/extras/ShareButton.tsx
  src/components/commons/Header/extras/extras.stories.tsx
  src/components/commons/Header/extras/index.tsx
  src/components/layouts/BottomFloatingLayout/BottomFloatingLayout.stories.tsx
  src/components/layouts/BottomFloatingLayout/BottomFloatingLayout.tsx
  src/components/layouts/BottomFloatingLayout/index.ts
  src/components/record/AirPort/AirPort.tsx
  src/components/record/BottomFloatingButtonArea/BottomFloatingButtonArea.stories.tsx
  src/components/record/BottomFloatingButtonArea/BottomFloatingButtonArea.tsx
  src/components/record/BottomFloatingButtonArea/index.ts
  src/components/record/ReviewList/Review.stories.tsx
  src/components/record/ReviewList/ReviewList.tsx
  src/constants/dummy.ts
  src/containers/BeerInfoContainer/BeerInfoContainer.stories.tsx
  src/containers/BeerInfoContainer/BeerInfoContainer.tsx
  src/containers/BeerInfoContainer/index.ts
  src/hooks/commons/index.ts
  src/hooks/commons/useScroll.ts
  src/pages/beers/[id].tsx
  src/utils/getOS.ts
  src/utils/isServer.ts
  src/utils/share.ts
  src/utils/toast.ts
Labels: 🍏 page
