Repository beerair/beerair-web, pull requests merged in 2022-07, with the labels that each got.

#73 feat: ✨SearchItem 컴포넌트 이관
  .storybook/preview.js
  src/components/search/SearchItem/SearchItem.stories.tsx
  src/components/search/SearchItem/SearchItem.tsx
  src/components/search/SearchItem/index.ts
  src/constants/config.ts
  src/hooks/index.ts
  src/hooks/useSearchHistory.ts
  src/pages/_app.tsx
  src/recoil/atoms/index.ts
  src/recoil/atoms/searchHistories.ts
  src/recoil/effects/index.ts
  src/recoil/effects/persist.ts
Labels: 🍎 components

#74 chore: 🔧nextjs v12 optimization config update
  .babelrc
  next.config.js
  package.json
  yarn.lock
Labels: 🍺 awsome

#75 feat: :sparkles: Badge 컴포넌트 이관
  src/components/Badge/Badge.stories.tsx
  src/components/Badge/Badge.tsx
  src/components/Badge/index.ts
Labels: 🍎 components

#80 feat: ci 추가, storybook cd 추가
  .github/workflows/deploy-storybook.yml
  .github/workflows/node.js.yml
  README.md
  package.json
  yarn.lock
Labels: ✨ feature

#81 feat: :zap: ReviewList, ReviewListItem 컴포넌트 이관
  src/components/ReviewList/Review.stories.tsx
  src/components/ReviewList/ReviewList.tsx
  src/components/ReviewList/index.ts
  src/components/ReviewListItem/ReviewListItem.stories.tsx
  src/components/ReviewListItem/ReviewListItem.tsx
  src/components/ReviewListItem/index.ts
  src/recoil/atoms/index.ts
  src/recoil/atoms/userSession.ts
  src/types/feel.ts
  src/types/flavor.ts
  src/types/index.ts
  src/types/member.ts
  src/types/review.ts
  src/types/user.ts
  src/utils/formatDateDiff.ts
Labels: 🍎 components

#77 feat: ✨SearchList 컴포넌트 이관
  src/components/search/SearchItem/SearchItem.tsx
  src/components/search/SearchList/SearchList.stories.tsx
  src/components/search/SearchList/SearchList.tsx
  src/components/search/SearchList/index.ts
Labels: 🍎 components

#83 feat: :zap: FlavorList, FlavorListItem 컴포넌트 이관
  src/components/FlavorList/FlavorList.stories.tsx
  src/components/FlavorList/FlavorList.tsx
  src/components/FlavorList/index.ts
  src/components/FlavorListItem/FlavorListItem.stories.tsx
  src/components/FlavorListItem/FlavorListItem.tsx
  src/components/FlavorListItem/LikeBadge.tsx
  src/components/FlavorListItem/index.ts
Labels: 🍎 components

#82 feat: ✨ ModalLayout, BottomSheet 컴포넌트 이관
  src/components/commons/BottomSheet/BottomSheet.stories.tsx
  src/components/commons/BottomSheet/BottomSheet.tsx
  src/components/commons/BottomSheet/index.ts
  src/components/layouts/ModalLayout/ModalLayout.stories.tsx
  src/components/layouts/ModalLayout/ModalLayout.tsx
  src/components/layouts/ModalLayout/index.ts
Labels: 🍎 components

#86 feat: ✨ Header 컴포넌트 이관
  src/components/commons/Header/Header.stories.tsx
  src/components/commons/Header/Header.tsx
  src/components/commons/Header/extras/BackButton.tsx
  src/components/commons/Header/extras/CloseButton.tsx
  src/components/commons/Header/extras/extras.stories.tsx
  src/components/commons/Header/extras/index.tsx
  src/components/commons/Header/index.ts
  src/styles/common.ts
Labels: 🍎 components

#91 feat: :zap: AirPort 컴포넌트 이관
  src/components/beer-detail/AirPort/AirPort.stories.tsx
  src/components/beer-detail/AirPort/AirPort.tsx
  src/components/beer-detail/AirPort/index.ts
  src/types/continent.ts
  src/types/country.ts
  src/types/index.ts
Labels: 🍎 components

#96 feat: ✨ Search 페이지 이관
  .storybook/preview.js
  src/components/search/SearchList/SearchList.tsx
  src/containers/SearchContainer/SearchContainer.stories.tsx
  src/containers/SearchContainer/SearchContainer.tsx
  src/containers/SearchContainer/SearchInput/SearchInput.stories.tsx
  src/containers/SearchContainer/SearchInput/SearchInput.tsx
  src/containers/SearchContainer/SearchInput/index.ts
  src/containers/SearchContainer/SearchItem/SearchItem.stories.tsx
  src/containers/SearchContainer/SearchItem/SearchItem.tsx
  src/containers/SearchContainer/SearchItem/index.ts
  src/containers/SearchContainer/SearchList/SearchList.stories.tsx
  src/containers/SearchContainer/SearchList/SearchList.tsx
  src/containers/SearchContainer/SearchList/index.ts
  src/containers/SearchContainer/atoms/addSearchHistory.ts
  src/containers/SearchContainer/atoms/index.ts
  src/containers/SearchContainer/atoms/searchHistories.ts
  src/containers/SearchContainer/hooks/index.ts
  src/containers/SearchContainer/hooks/useSearchHistory.ts
  src/containers/SearchContainer/index.ts
  src/pages/search.ts
  src/recoil/atoms/index.ts
  src/recoil/effects/persist.ts
Labels: 🍺 awsome, 🍎 components

#95 feat: ✨ Markdown 컴포넌트 이관
  package.json
  src/components/Markdown/Markdown.stories.tsx
  src/components/Markdown/Markdown.tsx
  src/components/Markdown/index.ts
  src/utils/parseMarkdown.ts
  yarn.lock
Labels: 🍎 components

#87 feat: ⚡ BeerInfoBox 컴포넌트 이관
  src/components/beer-detail/BeerInfoBox/BeerInfoBox.stories.tsx
  src/components/beer-detail/BeerInfoBox/BeerInfoBox.tsx
  src/components/beer-detail/BeerInfoBox/index.ts
  src/components/beer-detail/FlavorList/FlavorList.stories.tsx
  src/components/beer-detail/FlavorList/FlavorList.tsx
  src/components/beer-detail/FlavorList/index.ts
  src/components/beer-detail/FlavorListItem/FlavorListItem.stories.tsx
  src/components/beer-detail/FlavorListItem/FlavorListItem.tsx
  src/components/beer-detail/FlavorListItem/LikeBadge.tsx
  src/components/beer-detail/FlavorListItem/index.ts
  src/components/beer-detail/ReviewList/Review.stories.tsx
  src/components/beer-detail/ReviewList/ReviewList.tsx
  src/components/beer-detail/ReviewList/index.ts
  src/components/beer-detail/ReviewListItem/ReviewListItem.stories.tsx
  src/components/beer-detail/ReviewListItem/ReviewListItem.tsx
  src/components/beer-detail/ReviewListItem/index.ts
  src/types/beer.ts
  src/types/country.ts
  src/types/index.ts
Labels: 🍎 components

#101 feat: ✨ 버튼 컴포넌트 이관
  src/components/commons/Button/Button.stories.tsx
  src/components/commons/Button/Button.tsx
  src/components/commons/Button/index.ts
Labels: 🍎 components

#90 feat: :zap: Bio 컴포넌트 추가
  src/assets/icon.ts
  src/components/mypage/Bio/Bio.stories.tsx
  src/components/mypage/Bio/Bio.tsx
  src/components/mypage/Bio/index.ts
  src/types/index.ts
  src/types/level.ts
  src/types/user.ts
Labels: 🍎 components

#103 fix: :bug: svg 파일 이름과 불러오는 경로 명이 일치하지 않아 발생하는 type 에러 대응
  src/assets/icon.ts
  src/assets/nav_mypage.svg
  src/assets/nav_mypage_active.svg
Labels: 🐛 bug

#88 feat: ⚡ MyPageBoxButtonList 컴포넌트 이관
  src/components/mypage/MyPageBoxButtonList/MyPageBoxButtonList.stories.tsx
  src/components/mypage/MyPageBoxButtonList/MyPageBoxButtonList.tsx
  src/components/mypage/MyPageBoxButtonList/index.ts
  src/components/mypage/MyPageBoxButtonListItem/MyPageBoxButtonListItem.stories.tsx
  src/components/mypage/MyPageBoxButtonListItem/MyPageBoxButtonListItem.tsx
  src/components/mypage/MyPageBoxButtonListItem/index.ts
Labels: 🍎 components

#89 feat: :zap: MyPageInfoList 컴포넌트 추가
  src/components/mypage/MyPageInfoList/MyPageInfoList.stories.tsx
  src/components/mypage/MyPageInfoList/MyPageInfoList.tsx
  src/components/mypage/MyPageInfoList/index.ts
Labels: 🍎 components

#109 fix: :bug: 스토리북 argsTypes.defaultValue으로 인한 warning 제거
  src/components/Markdown/Markdown.stories.tsx
  src/components/commons/BottomSheet/BottomSheet.stories.tsx
  src/components/commons/Header/Header.stories.tsx
Labels: 🧹 chore

#108 feat: ✨ Tab 컴포넌트 이관
  .storybook/preview-head.html
  package.json
  src/components/commons/Swiper/Swiper.stories.tsx
  src/components/commons/Swiper/Swiper.tsx
  src/components/commons/Swiper/index.ts
  src/components/commons/Tab/Tab.stories.tsx
  src/components/commons/Tab/Tab.tsx
  src/components/commons/Tab/TabItem.tsx
  src/components/commons/Tab/hooks/index.ts
  src/components/commons/Tab/hooks/useScrollToTabItem.tsx
  src/components/commons/Tab/index.ts
  src/pages/_document.tsx
  src/styles/common.ts
  src/themes/index.ts
  src/themes/types.ts
  yarn.lock
Labels: 🍎 components

#106 feat: react-query 초기 설정, axios 유틸 함수 추가, 데이터 패칭 예제 코드 추가
  src/commons/axios.ts
  src/commons/prefetch.ts
  src/commons/queryKeyFactory.ts
  src/components/QueryClientProvider.tsx
  src/hooks/queries/test.ts
  src/networks/beer.ts
  src/networks/test.ts
  src/pages/_app.tsx
  src/pages/index.tsx
Labels: 🍺 awsome

#112 fix: 🐛 Bio, LevelModal에서 발생하는 에러 해결
  src/components/Modal/Modal.tsx
  src/components/mypage/Bio/Bio.stories.tsx
  src/components/mypage/Bio/Bio.tsx
  src/components/mypage/LevelModal/LevelModal.stories.tsx
  src/components/mypage/LevelModal/LevelModal.tsx
  src/constants/level_data.ts
Labels: 🐛 bug

#111 feat: ✨SwitchField 컴포넌트 이관
  src/components/commons/Switch/Switch.stories.tsx
  src/components/commons/Switch/Switch.tsx
  src/components/commons/Switch/index.ts
  src/components/formFields/SwitchField/SwitchField.stories.tsx
  src/components/formFields/SwitchField/SwitchField.tsx
  src/components/formFields/SwitchField/index.ts
Labels: 🍎 components

#115 feat: ✨ MultiSelectField 컴포넌트 이관
  src/components/commons/ColorTextBox/ColorTextBox.stories.tsx
  src/components/commons/ColorTextBox/ColorTextBox.tsx
  src/components/commons/ColorTextBox/index.ts
  src/components/formFields/MultiSelectField/MultiSelect.tsx
  src/components/formFields/MultiSelectField/MultiSelectField.stories.tsx
  src/components/formFields/MultiSelectField/MultiSelectField.tsx
  src/components/formFields/MultiSelectField/index.ts
Labels: 🍎 components
